MODE="users/orgs" ## 'users' or 'orgs'
PSEUDONAME="userName/orgName" ## for example, 'octocat' for users or 'github' for orgs
PERSONAL_ACCESS_TOKEN="your_personal_access_token" ## make sure to set the appropriate scopes for your token, such as 'repo' and 'read:org'