export MODE="users" ## 'users' or 'orgs'
export PSEUDONAME="userName/orgName" ## for example, 'octocat' for users or 'github' for orgs
export PERSONAL_ACCESS_TOKEN="your_personal_access_token" ## make sure to set the appropriate scopes for your token, such as 'repo' and 'read:org'